[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
google-api-python-client = "*"
google-api-core = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
python-dateutil = "*"
arguments = "*"
future = "*"
pyyaml = "*"
consoleprinter = "*"

[requires]
python_version = "3.9"
